<div class="text-center py-5">
  <div class="card shadow-sm p-5 bg-white">
      <h2 class="display-5 text-dark">Bienvenido a tu Colección</h2>
      <p class="lead">Gestiona tus videojuegos de forma privada y organizada.</p>
      <div class="mt-4">
          <a href="/login" class="btn btn-primary btn-lg px-5 shadow-sm">Iniciar Sesión</a>
      </div>
  </div>
</div>